<template>
    <div class="header-bar">
        <div if:true={isMenuOpen} class="header-bar-links">
            <template if:true={links.length} for:each={links} for:item="link">
                <a
                    class={link.className}
                    key={link.name}
                    data-name={link.name}
                    onclick={handleLinkClick}
                    >{link.label}</a
                >
            </template>
        </div>
        <lightning-button-icon
            class="header-close-button"
            icon-name={hamburgerMenuIcon}
            variant="bare"
            size="large"
            onclick={handleToggleMenu}
        ></lightning-button-icon>
    </div>
    <div class="grid-container">
        <div class="side-bar side-bar-left">
            <slot name="sidebar"></slot>
        </div>
        <div class="drag-bar drag-bar-left" data-name="left"></div>

        <div class="content">
            <slot name="content"></slot>
        </div>

        <div class="drag-bar drag-bar-right" data-name="right"></div>
        <div class="actions side-bar-right">
            <slot name="actions"></slot>
        </div>

        <div if:true={isMenuOpen} class="web-backdrop"></div>
    </div>
</template>
