:host {
    --dragbar-width: 10px;
    --leftbar-width: 5rem;
    --rightbar-width: 3rem;
    --topbar-height: 3rem;
    --container-height: 600px;
    --container-layer-0: 0;
    --container-layer-1: 100;
    --container-layer-2: 1000;
    --left-column-size: 2;
    --box-padding: 2px;
    /* Override standard slds styling */
    --sds-c-button-text-color-active: white;
    --sds-c-button-text-color-hover: white;
    --sds-c-button-shadow: transparent;
    --sds-c-button-shadow-focus: transparent;
    --sds-c-button-sizing-border: 0;
}

.grid-container {
    display: grid;
    grid-template-rows: auto 100%;
    grid-template-columns: auto var(--dragbar-width) 1fr var(--dragbar-width) auto;
    grid-template-areas: 'leftbar . maincontent . rightbar';
    width: 100%;
    height: var(--container-height);
    background-color: #2b46e281;
    border: 1px solid black;
    position: relative;
    z-index: var(--container-layer-0);
    top: var(--topbar-height);
}
/* Hamburger */
.header-bar {
    width: 100%;
    min-height: var(--topbar-height);
    grid-area: header;
    overflow: hidden;
    background-color: #333;
    position: absolute;
    z-index: var(--container-layer-2);
    border-radius: 0.2rem;
    box-shadow: 2px 2px 5px rgba(43, 70, 226, 0.507);
    display: grid;
    align-content: center;
    grid-template-columns: auto max-content;
    grid-template-areas: 'links close';
    margin-bottom: 0.2rem;
}
.header-bar-links {
    grid-area: links;
}
.web-menu-item {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.web-menu-item.active {
    border-bottom: 1px solid white;
    background-color: #41415478;
    font-weight: bold;
}

.header-close-button {
    grid-area: close;
    position: relative;
    right: 0;
    top: 0;
    margin: 0.5rem 0.5rem;
    z-index: var(--container-layer-2);
    display: flex;
    color: white;
}
.login-button{
    min-width: 5rem;
    background-color: #41415478;
    padding: 0.3rem 0.5rem;
    margin: 0 0.5rem;
    height: 2rem;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 0.2rem;
    text-align: center;
}
.login-button:hover {
    opacity: 0.8;
    cursor: pointer;
}
.web-backdrop {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #a9a9a9;
    z-index: var(--container-layer-1);
    opacity: 0.7;
}

.side-bar {
    grid-area: leftbar;
    width: var(--leftbar-width);
    display: flex;
    justify-content: center;
}
.side-bar-left {
    width: var(--leftbar-width);
}
.side-bar-right {
    width: var(--rightbar-width);
}
.drag-bar {
    grid-area: dragbar;
    position: absolute;
    width: var(--dragbar-width);
    height: 100%;
    background-color: rgb(46, 43, 226);
}
.drag-bar-left {
    left: var(--leftbar-width);
}
.drag-bar-right {
    right: var(--rightbar-width);
}
.content {
    min-width: 300px;
    grid-area: maincontent;
    /* width: calc( var( --left-column-size, 8 )/12 *100%); */
    padding: var(--box-padding);
}

.actions {
    grid-area: rightbar;
    /* width: calc(var( --left-column-size, '2' )/12*100%); */
    padding: var(--box-padding);
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .header-bar {
        width: 100%;
        min-height: var(--topbar-height);
        flex-direction: column;
    }
}
@media (min-width: 600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
}
