:host {
    --dragbar-width: 10px;
    --container-height: 600px;
    --left-column-size: 2;
    --box-padding: 2px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto var(--dragbar-width) 1fr var(--dragbar-width) auto;
    width: 100%;
    height: var(--container-height);
    background-color: rgba(43, 70, 226, 0.507);
    border: 1px solid black;
}

.drag-bar {
    /* position: relative;
    left: var(--dragbar-width); */
    width: var(--dragbar-width);
    background-color: rgb(46, 43, 226);
}
.content {
    min-width: 300px;
    /* width: calc( var( --left-column-size, 8 )/12 *100%); */
    padding: var(--box-padding);
}

.actions {
    /* width: calc(var( --left-column-size, '2' )/12*100%); */
    padding: var(--box-padding);
}
