:root {
    --sidebar-size: 2;
    --content-padding: 10px;

    --slot-height: 30px;
    --grid-height: 1440px;
    --slot-top-position: '0%';
    --slot-menu-position: '10%';
    --slot-left-position: '10%';
    --slot-background: rgba(21, 137, 238);
    --slot-opacity: 0.9;
    --slot-display: 'none';
    --slot-layer: 0;
    /* --slot-edge-color: linear-gradient(180deg, rgba(215,215,215,1) 0%, rgba(45,44,44,1) 51%, rgba(255,255,255,1) 100%); */
    --slot-edge-color: #1969ce;
    --slot-edge-border: 0.1rem dashed rgb(255, 255, 255);
    --slot-edge-size: 5px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
